{% extends "home.html" %}

{% block body %}
    <div class="perfil">
        <div style="margin: 20px;">
        <h1>Cameras - Cadastradas</h1>
        <div class="grupo" >
        {% for desativado in desativado %}
        <a href="{{ url_for('inventario') }}" class="btn btn-link" style="display: inline-flex;  padding-right: 0%;  z-index: -1; width: 110px;">Inventario <ion-icon name="chevron-forward"></ion-icon></a><br>
        <a href="{{ url_for('Vip_S3020_G2') }}" class="btn btn-primary" style="width: 170px;">Vip S3020 G2: {{ desativado|first }} </a>
        {% endfor %}
        <br><br>
        </div>
        <script>
            // Obtém uma referência para o botão de impressão
            const imprimirBtn = document.getElementById('imprimirBtn');
            
            
            imprimirBtn.addEventListener('click', function() {
                const div = document.getElementById('status');
                window.print(div);
            });
            </script>
        <div class="status" >
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
                <input type="text" id="valor_busca" class="form-control" style="width: 600px; display: inline; margin-right: 5px;  "/>
                <input type="submit" value="Pesquisar" onclick="myFunction()" style="background-color: #008cff; border-color: #008cff; border-radius: 5px; font-size: 16px; color: white; padding: 5px;" />
        
                <script>
                function myFunction() {
                    var valor_busca = document.getElementById("valor_busca").value;
                location.href = "search_cameras/"+valor_busca;
                }
                </script>
            </div>
        </div>
        <table class="table table-striped" style=" margin: 20px; width: -webkit-fill-available;">
            <tr>
                <th scope="col">Modelo Cameras<a href="{{ url_for('modelo_cameras') }}" style="display: inline-flex;  color: #000;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Departamento<a href="{{ url_for('cameras') }}" style="display: inline-flex;  color: #000;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Quantidade Cameras<a href="{{ url_for('quant_cameras') }}" style="display: inline-flex;  color: #000;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tr>
                {% for camera in camera %}
                <td>{{camera["cameras"]}}</td>
                <td>{{camera["departamento"]}}</td>
                <td>{{camera["quant_cameras"]}}</td>
                <td><a style="width: 100px;" href='{{url_for("delete_cameras",id=camera.id)}}' class='btn btn-danger' onclick='return confirm("Voce tem certeza, que deseja excluir  {{ camera.cameras }}?")'>Deletar</a></td>
                <td><a style="width: 100px;" href='{{url_for("edit_cameras",id=camera.id)}}' class='btn btn-primary'>Editar</a></td>
            </tr>
            {% endfor %}
        </table>
</body>

{% endblock %}