{% extends "home.html" %}

{% block body %}
    <div class="perfil">
        <h1>Fila de Espera</h1>
        <table class="table table-striped" style=" margin: 20px; width: -webkit-fill-available;">
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Tipo de problemas</th>
                <th scope="col">Data</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
				
            </tr>
            <tr>
                {% for chamados in chamados %}
            <tr>
                {% if chamados.status == 'novo' %}
                <td >{{ chamados.username }}</td>
                <td>{{ chamados.tipo }}</td>
                <td>{{ chamados["data"]|datetimeformat("%d/%m/%Y") }}</td>
                    <td  type="button" style="width: 90px;" class="btn btn-outline-primary">Novo</td>
                    {% else %}
                {% if chamados.status == 'atribuido' %}
                <td >{{ chamados.username }}</td>
                <td>{{ chamados.tipo }}</td>
                <td>{{ chamados["data"]|datetimeformat("%d/%m/%Y") }}</td>
                    <td  type="button" class="btn btn-outline-warning text-dark">Atribuido</td>
                    {% else %}
                {% if chamados.status == 'reaberto' %}
                <td>{{ chamados.username }}</td>
                <td>{{ chamados.tipo }}</td>
                <td>{{ chamados["data"]|datetimeformat("%d/%m/%Y") }}</td>
                <td type="button" class="btn btn-outline-danger">Reaberto</td>
                {% endif %}    
                {% endif %}
                {% endif %}
            </tr>
                {% endfor %}
        </table>
    </div>
    
</body>
{% endblock %}