<configuration>  
  <system.webServer>
    <handlers>
            <remove name="relatorios" />
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|&quot;C:\inetpub\wwwroot\PROJETO_HELPDESK\wfastcgi.py&quot;" resourceType="Unspecified" />
            <add name="Python_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|&quot;C:\Program Files\Python312\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|C:\Program Files\Python312\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="relatorios" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python312\python.exe|C:\inetpub\wwwroot\PROJETO_PROTHEUS\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="main.py" />
            </files>
        </defaultDocument>
  </system.webServer>
  <appSettings> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\PROJETO_HELPDESK" />
        <add key="WSGI_HANDLER" value="main.app" />
  </appSettings>
</configuration>  
