{% extends "home.html" %}

{% block body %}

    <div class='perfil'>
        <h1>Editar Tecnico</h1>
        <div class="grupo" style="left: 80%; top: 50px; z-index: 5;">
          <a href="{{ url_for('add_tecnico') }}" class="btn btn-primary"  style="width: 115px; ">Adicionar</a>
          <a href="{{ url_for('tecnicos_desativado') }}" class="btn btn-danger"  style="width: 115px; "> Desativado </a>
          <a href="{{ url_for('tech')}}"  role="button" class="btn btn-success" style="width: 115px; " >Tecnicos</a>
      </div>
      {% for tecnico in tecnicos %}
        <div class='col-18 mx-auto'>
          <form method='post' action='{{url_for("edit_tecnico",id=tecnico.id)}}'  style="width: 600px; left: 14.5%; top: 220px; z-index: -1;">
            <div class='form-group'>
              <label>Nome do Tecnico:</label>
              <input type='text' name='usuario' required class='form-control' value='{{ tecnico.usuario }}'>
            </div>
            <br>
            <div class='form-group'>
                <label>Nivel do Tecnico:</label>
                <input type='text' name='nivel' required class='form-control' value='{{tecnico.nivel}}'>
            </div>
            <br>
            <div class='form-group'>
            {% if tecnico.status != 'desativado' %}
            <label>Status do Tecnico: </label>
              <select class="form-select"   id="autoSizingSelect" name='status' value="{{ tecnico.status }}">
                <option  value="{{ tecnico.status }}" >Ativado</option>
                <option value="desativado">Desativar</option>
              </select>
              {% else %}
              <label>Status do Tecnico: </label>
              <select class="form-select"   id="autoSizingSelect" name='status' value="{{ tecnico.status }}">
                <option  value="{{ tecnico.status }}" >Desativado</option>
                <option value="   ">Ativar</option>
              </select>
              {% endif %}
            </div>
            <br>
            <div class='form-group'>
            <button type='submit' value='Submit' class='btn btn-primary'>Enviar</button>
          </div>
          </form>
          {% endfor %}

        </div>
      </div>
{% endblock %}