{% extends "home.html" %}

{% block body %}
    <div class='perfil' style="margin: 20px;">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <h1>Tecnicos</h1>
        <div class="grupo" style="left: 80%; top: 50px; z-index: 5;">
            <a href="{{ url_for('add_tecnico') }}" class="btn btn-primary"  style="width: 115px; ">Adicionar</a>
            <a href="{{ url_for('tecnicos_desativado') }}" class="btn btn-danger"  style="width: 115px; "> Desativado </a>
            <a href="{{ url_for('tech')}}"  role="button" class="btn btn-success" style="width: 115px; " >Tecnicos</a>
        </div>
        <div class="status" id="status" name="status">
        
        </div>
        <table class="table table-striped" style=" margin: 20px; width: -webkit-fill-available;">
                <tr>
                    <th scope="col">Tecnico</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Editar</th>
                </tr>
                <tr>
                    {% for usuarios in usuarios %}
                    {% if usuarios.status == 'desativado' %}
                <tr>
                    <td >{{ usuarios.usuario }}</td>
                    <td>{{ usuarios.nivel }}</td>                    
                    <td><a style="width: 100px;" href='{{url_for("edit_tecnico", id=usuarios.id)}}' class='btn btn-primary'>Editar</a></td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
</div> 
</div>
</body>
{% endblock %}
