<p>Bom dia,<br> Segue a abaixo o controle de banco de horas dos colaboradores <p>
    <table style=" border: 1px solid #333;">
        <tbody  >
            <tr>
                <td colspan="3" style="width: 600px; font-size: 30px; text-align: center; font-family: Arial, Helvetica, sans-serif; border: 1px solid #333;" > <b>CONTROLE DE BANCO DE HORAS </b></td>
            </tr>
        </tbody>
        <tbody >
            <tr>
                <td class="tabelado" style="width: 290px; border: 1px solid #333;"><b>BANCO DE HORAS: </b></td>
                <td  colspan="2" class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;"> ATUALIZADO ATÉ {% for data in datas %} {{data["date"]|datetimeformat('%d/%m/%Y')}} {% endfor %}</td>
            </tr>
            <tr>
                <td class="tabelado" style="width: 290px;border: 1px solid #333; "><b>JORNADA DE TRABALHO: </b></td>
                <td  colspan="2" class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">7:00 as 16:48</td>
            </tr>
            <tr>
                <td  class="tabelado" style="width: 290px; border: 1px solid #333;"><b>JORNADA DIARIA: </b></td>
                <td  colspan="2" class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">8:48</td>
            </tr>
        </tbody>
        <tbody >
                <tr>
                    <td class="tabelado" style="width: 950px;"><b>RH</b></td>
                    <td class="tabelado" style="width: 995px;"><b>SALDO ACUMULADO</b></td>
                    <td class="tabelado" style="width: 995px;"><b>OBS</b></td>

                </tr>
                {% for row in rows %}
                {% if row.RA_CC == "2111     " %}
                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                            {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}</td> 
                    </tr>
                {% endif %}
                {% endfor %}
                {% for row in pessoas %}
                {% if row.RA_CC == "2111" %}

                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %} </td>
                    </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td class="tabelado" style="width: 950px;"><b>Recepção</b></td>
                    <td class="tabelado" style="width: 995px;"><b>SALDO ACUMULADO</b></td>
                    <td class="tabelado" style="width: 995px;"><b>OBS</b></td>

                </tr>
                {% for row in rows %}
                {% if row.RA_CC == "2115     " %}
                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                            {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}</td> 
                    </tr>
                {% endif %}
                {% endfor %}
                {% for row in pessoas %}
                {% if row.RA_CC == "2115" %}

                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %} </td>
                    </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td class="tabelado" style="width: 950px;"><b>Serviço Gerais</b></td>
                    <td class="tabelado" style="width: 995px;"><b>SALDO ACUMULADO</b></td>
                    <td class="tabelado" style="width: 995px;"><b>OBS</b></td>

                </tr>
                {% for row in rows %}
                {% if row.RA_CC == "2116     " %}
                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                            {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}</td> 
                    </tr>
                {% endif %}
                {% endfor %}
                {% for row in pessoas %}
                {% if row.RA_CC == "2116" %}

                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %} </td>
                    </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td class="tabelado" style="width: 950px;"><b>Seguranca do Trabalho</b></td>
                    <td class="tabelado" style="width: 995px;"><b>SALDO ACUMULADO</b></td>
                    <td class="tabelado" style="width: 995px;"><b>OBS</b></td>

                </tr>
                {% for row in rows %}
                {% if row.RA_CC == "2118     " %}
                <tr>
                    <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}</td> 
                </tr>
                {% endif %}
                {% endfor %}
                {% for row in pessoas %}
                {% if row.RA_CC == "2118" %}

                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %} </td>
                    </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td class="tabelado" style="width: 950px;"><b>Financeiro</b></td>
                    <td class="tabelado" style="width: 995px;"><b>SALDO ACUMULADO</b></td>
                    <td class="tabelado" style="width: 995px;"><b>OBS</b></td>

                </tr>
                {% for row in rows %}
                {% if row.RA_CC == "2123     " %}
                <tr>
                    <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}</td> 
                </tr>
                {% endif %}
                {% endfor %}
                {% for row in pessoas %}
                {% if row.RA_CC == "2123" %}

                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %} </td>
                    </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td class="tabelado" style="width: 950px;"><b>Fiscal</b></td>
                    <td class="tabelado" style="width: 995px;"><b>SALDO ACUMULADO</b></td>
                    <td class="tabelado" style="width: 995px;"><b>OBS</b></td>

                </tr>
                {% for row in rows %}
                {% if row.RA_CC == "2131     " %}
                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}</td> 
                    </tr>
                {% endif %}
                {% endfor %}
                {% for row in pessoas %}
                {% if row.RA_CC == "2131" %}

                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == row.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == row.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %} </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>  
    </table>

    <style>
        table {
         border: 0px double #333; 
         border-collapse: solid; 
         width: 100%;
         border-spacing: 7px 11px;
        }
        tbody {
         padding-bottom: 0px;
         padding-left: 15px;
         padding-right: 15px;
         padding-top: 15px;
         border: 0px solid #000000;
         border-spacing: 20px 11px;
         font-size: 16px;
        }
        td{
         border: 1px solid #000000;
    
        }
        thead {
         padding: 15px; 
         border: 0px solid #000000;
         border-spacing: 20px 11px;
        }
    </style>