{% extends "home.html" %}

{% block body %}
<div class="perfil">
    <h1>Ordem de serviço de Manutenção</h1>
    <div class="status" style=" left: 49%; top: 20px;">
    </div>
    <table class="fixed" style="width: 1400px;">
        <thead>
            <tr>
                <td style="width: 50px;">Num.OS</td>
                <td style="width: 167px;">Usuario</td>
                <td style="width: 295px;">E-mail</td>
                <td style="width: 222px;">Departamento</td>
                <td style="width: 117px;">Tipo</td>
                <td style="width: 150px;">Data Abertura</td>
                <td >Status</td>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["username"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["departamento"]}}</td>
            <td>{{row["tipo"]}}</td>
            <td>{{row["data_criacao"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>
</div>
</body>
{% endblock %}
           