{% extends "home.html" %}

{% block body %}
<body style="background-color: #e6e6e6;">
  <div class="logo">
      <img src="../static/img/logotipo_apema.png" class="logo" style=" z-index: 1; border-top-width: 10px;">
  </div>
    <div class="header">
        <div class="navegacao">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <ul>
        <li class="list">
            <a href="{{ url_for('perfil', id_usuario=current_user.id) }}">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <span class="title">Perfil</span>
            </a>
        </li>
        <br>
        <li class="list ">
            <a href="{{ url_for('chamados') }}">
                <span class="icon"><ion-icon name="chatbubbles-outline"></ion-icon></span>
                <span class="title">Chamados</span>
            </a>
        </li>
        <br>
        <li class="list">
            <a href="{{ url_for('dashboard') }}">
                <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
                <span class="title">Graficos</span>
            </a>
        </li>
        <br>
        <li class="list">
          <a href="{{ url_for('reunioes') }}">
              <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
              <span class="title">Reuniões</span>
          </a>
      </li>
      
      <li class="list active">
      <div class="dropdown">
        <a href="{{ url_for('usuarios') }}">
          <span class="icon"><ion-icon name="people-outline"></ion-icon></ion-icon></span>
          <span class="title">Usuarios</span>
          <div class="dropdown-content">
            <a href="{{ url_for('criarconta') }}">Cadastro</a>
            <a href="{{ url_for('usuarios') }}">Usuarios</a>
          </div>
      </div>
      <br>
    </li>
    <li class="list ">
      <div class="dropdown">
        <a href="{{ url_for('computadores') }}">
          <span class="icon"><ion-icon name="desktop-outline"></ion-icon></ion-icon></ion-icon></span>
          <span class="title">Computadores</span>
          <div class="dropdown-content">
            <a href="{{ url_for('computador') }}">Cadastro</a>
            <a href="{{ url_for('computadores') }}">Computadores</a>
          </div>
        </div>
        </li>
    
    <li class="list ">
        <div class="dropdown">
        <a href="{{ url_for('impressoras') }}">
            <span class="icon"><ion-icon name="print-outline"></ion-icon></ion-icon></ion-icon></span>
            <span class="title">Impressoras</span>
            <div class="dropdown-content">
            <a href="{{ url_for('criar_impressoras') }}">Cadastro</a>
            <a href="{{ url_for('impressoras') }}">Computadores</a>
            </div>
        </div>
    </li>
    
<li class="list">
    <div class="dropdown">
      <a href="{{ url_for('antenas') }}">
        <span class="icon"><ion-icon name="radio-outline"></ion-icon></ion-icon></ion-icon></span>
        <span class="title">Antenas</span>
        <div class="dropdown-content">
          <a href="{{ url_for('criarantena') }}">Cadastro</a>
          <a href="{{ url_for('antenas') }}">Antenas</a>
        </div>
    </div>
  </li>

<li class="list">
    <div class="dropdown">
      <a href="{{ url_for('cameras') }}">
        <span class="icon"><ion-icon name="videocam-outline"></ion-icon></ion-icon></ion-icon></span>
        <span class="title">Cameras</span>
        <div class="dropdown-content">
          <a href="{{ url_for('criarcameras') }}">Cadastro</a>
          <a href="{{ url_for('cameras') }}">Cameras</a>
        </div>
    </div>
  </li>
  <li class="list ">
    <div class="dropdown">
      <a href="{{ url_for('toners') }}">
        <span class="icon"><ion-icon name="eyedrop"></ion-icon></ion-icon></ion-icon></span>
        <span class="title">Toners</span>
        <div class="dropdown-content">
          <a href="{{ url_for('criartoner') }}">Cadastro</a>
          <a href="{{ url_for('toners') }}">Toners</a>
        </div>
    </div>
  </li>
  <br>
        <li class="list">
          <div class="dropdown">
            <a href="{{ url_for('software') }}">
              <span class="icon"><ion-icon name="hardware-chip-outline"></ion-icon></span>
              <span class="title">Softwares</span>
                <div class="dropdown-content">
                  <a href="{{ url_for('cadastro') }}">Cadastro</a>
                  <a href="{{ url_for('software') }}">Softwares</a>
                </a>
                </div>
                </div></li>
      <br>
</ul>
</div>
</div>
        <script>
            const list = document.querySelectorAll('.list');
            function activeLink(){
                list.forEach((item) =>
                item.classList.remove('active'));
                this.classList.add('active');
            }
                list.forEach((item) =>
                item.addEventListener('click', activeLink));
        </script>
        </div>
    </div>
    <div class='perfil'>
        <h1>Usuarios - Cadastrados</h1>
        <div class="status" style="
        width: 1900px;
        height: 2000px;
    ">
    </div>
            <br>
            <br>
            <br>
    <table class="table">
        <tr>
            <th scope="col">Usuario</th>
            <th scope="col">E-mail</th>
        </tr>
        <tr>
            {% for usuarios in usuarios %}
        <tr>
            <td >{{ usuarios.username }}</td>
            <td>{{ usuarios.email }}</td>
        </tr>
            {% endfor %}
    </table>
</div>
<div class="coluna" style="background-color: #103a78;">
  <p style="background: #103a78;">S2</p>
</div>
</body>
{% endblock %}