{% extends "home.html" %}

{% block body %}
    <div class='perfil'  style="display: inline-flex;">
        <div style="margin: 20px;">
        </div>
        <div >
            <div class="inventario">
        <a href="{{ url_for('usuarios') }}">
            <img src="../static/img/usuarios.png"  style=" z-index: 1; width: 250px; height: 250px; border-radius: 20px; margin: 20px;"></a>
        </div>
        
        <div class="inventario">
        <a href="{{ url_for('cameras') }}">
            <img src="../static/img/cameras.png"  style=" z-index: 1;width: 250px; height: 250px;border-radius: 20px;  margin: 20px;"></a>
        </div>
        </div>
        <div>
        <div class="inventario">
        <a href="{{ url_for('antenas') }}">
            <img src="../static/img/antenas.png"  style=" z-index: 1;width: 250px; height: 250px;border-radius: 20px;  margin: 20px;"></a>
        </div>
            <div class="inventario">
            <a href="{{ url_for('computadores') }}">
                <img src="../static/img/computadores.png" style=" z-index: 1;width: 250px; height: 250px;border-radius: 20px;  margin: 20px;"></a>
            </div>
            </div>
            <div>
            <div class="inventario">
                <a href="{{ url_for('impressoras') }}">
                <img src="../static/img/impressoras.png" style=" z-index: 1;width: 250px; height: 250px;border-radius: 20px;  margin: 20px;"></a>
            </div>
            <div class="inventario">
            <a href="{{ url_for('toners') }}">
                <img src="../static/img/toners.png"  style=" z-index: 1;width: 250px; height: 250px;border-radius: 20px;  margin: 20px;"></a>
            </div>
            </div>
    </div>

<style>
.inventario{
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;

}
h2{
    text-align: center;
}
</style>
{% endblock %}