{% extends "home.html" %}

{% block body %}
<div class='perfil'>
</div>
<div style="margin: 50px;">
<script>
    // Obtém uma referência para o botão de impressão
    const imprimirBtn = document.getElementById('imprimirBtn');


    imprimirBtn.addEventListener('click', function () {
        const div = document.getElementById('status');
        window.print(div);
    });
</script>
<style>
    table {
     border: 0px double #333; 
     border-collapse: solid; 
     width: 100%;
     border-spacing: 7px 11px;
    }
    tbody {
     padding-bottom: 0px;
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 15px;
     border: 0px solid #000000;
     border-spacing: 20px 11px;
     font-size: 16px;
    }
    td{
     border: 1px solid #000000;

    }
    thead {
     padding: 15px; 
     border: 0px solid #000000;
     border-spacing: 20px 11px;
    }
</style>

<div id="table" name="table">
    <table class="fixo" style=" left: 15%; border: 0px  solid black;  border-right-width: 0px;  width: 850px; border-spacing: 7px 11px;">
            <tbody >
                <tr>
                    <td colspan="2" style="width: 600px; font-size: 30px; text-align: center; font-family: Arial, Helvetica, sans-serif;" > <b>SISTEMA DE APONTAMENTO </b></td>
					<td style="width: 218px; position: relative; border-left: 0px  solid black;"><img src="../static/img/flex.jpg" class="tabimg" width="250px" height="100px" ></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="tabelado" style="width: 290px;"><b>APONTAMENTO: </b></td>
                    <td colspan="2" class="tabelado" style="width: 995px;"> ATUALIZADO ATÉ  {% for data in datas %} {{data["date"]|datetimeformat('%d/%m/%Y')}} {% endfor %}</td>
                </tr>
                <tr>
                    <td class="tabelado" style="width: 290px; "><b>PERÍODO: </b></td>
                    <td colspan="2" class="tabelado" style="width: 995px; text-align: center;">7:00 as 16:48</td>
                </tr>
                <tr>
                    <td class="tabelado" style="width: 290px;"><b>DIÁRIA: </b></td>
                    <td colspan="2" class="tabelado" style="width: 995px; text-align: center;">8:48</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="tabelado" style="width: 950px;"><b>{{ departamento }}</b></td>
                    <td class="tabelado" style="width: 995px;"><b>SALDO ACUMULADO</b></td>
                    <td class="tabelado" style="width: 995px;"><b>OBS</b></td>

                </tr>
                {% for row in rows %}
                    <tr>
                        <td class="tabelado" style="width: 950px;">{{row["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center;">{{row["saldo"]}} </td>
                        <td class="tabelado" style="width: 995px; text-align: center;">
                        {% if row.status == "Positivo" %}
                        <span style="color: green; " >{{row.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{row.status}} </span>
                        {% endif %} </td>
                        {% if departamento == "RH" %}
                        <td><a type="btn btn-primary" href="{{url_for("controle_banco", mat=row["RA_MAT"])}}" class="btn btn-primary">+</a></td>
                        <td><a type="btn" href="{{url_for("delete_colaborador", mat=row["RA_MAT"])}}" class="btn btn-danger" onclick='return confirm("Voce tem certeza, que deseja excluir  {{ row.nome }}?")'><ion-icon name="trash-outline"></ion-icon></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
				{% for row in grupos %}
                    <tr>
                        <td class="tabelado" style="width: 950px; border: 1px solid #333;">{{row.nome}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">{{row.Saldo}} </td>
                        <td class="tabelado" style="width: 995px; text-align: center; border: 1px solid #333;">
                        {% if row.status == "Positivo" %}
                        <span style="color: green;" >{{row.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{row.status}} </span>
                        {% endif %}  </td>
                        <td><a type="btn" href="{{url_for("controle_banco", mat=row["matricula"])}}" class="btn btn-primary">+</a></td>
                        <td><a type="btn" href="{{url_for("delete_colaborador", mat=row["matricula"])}}" class="btn btn-danger" onclick='return confirm("Voce tem certeza, que deseja excluir  {{ row.nome }}?")'><ion-icon name="trash-outline"></ion-icon></a></td>
                    </tr>
                {% endfor %}
				{% for pessoa in pessoas %}
                    <tr>
                        <td class="tabelado" style="width: 950px;">{{pessoa["RA_NOME"]}}</td>
                        <td class="tabelado" style="width: 995px; text-align: center;">{% for saldo in saldos %}{% for matricula in matriculas %}{% if saldo.idColaborador == matricula.idColaborador %}{% if saldo.MatColaborador == pessoa.RA_MAT %} {{saldo.Saldo}} {% endif %} {% endif %}{% endfor %}{% endfor %}  </td>
                        <td class="tabelado" style="width: 995px; text-align: center;">
                        {% for saldo in saldos %}
                        {% for matricula in matriculas %}
                        {% if saldo.idColaborador == matricula.idColaborador %}
                        {% if saldo.MatColaborador == pessoa.RA_MAT %} 
                        {% if saldo.status == "Positivo" %}
                        <span style="color: green;" >{{saldo.status}} </span>
                        {% else %}
                        <span style="color: red;" >{{saldo.status}} </span>
                        {% endif %} 
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %} </td>
                        {% if departamento == "RH" %}
                            <td><a type="btn" href="{{url_for("controle_banco_pj", mat=pessoa["RA_MAT"])}}" class="btn btn-primary">+</a></td>
                            <td><a type="btn" href="{{url_for("delete_colaborador", mat=pessoa["RA_MAT"])}}" class="btn btn-danger" onclick='return confirm("Voce tem certeza, que deseja excluir  {{ pessoa.RA_NOME }}?")'><ion-icon name="trash-outline"></ion-icon></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                
            </tbody>
            <div style="left: 90%; position: relative; width: 7%; display: inline-flex;" >
                {% if departamento == "RH" %}
            <a class="btn btn-success" href="{{ url_for("criarcolaboradores") }}">Adcionar</a>

           
            <a class="btn btn-primary" href="{{ url_for("departamento_banco") }}">Retornar</a>
            {% endif %}
    </table>
</div>
</div>
</div>
</body>
{% endblock %}