{% extends "home.html" %}

{% block body %}
    <div class='perfil' style="margin: 20px;" >
        <h1>Ausência Horas - Colaboradores </h1>
        <table class="table table-striped" style=" margin: 20px; width: -webkit-fill-available;">
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Data</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Periodo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    {% for dados in dados %}
                <tr>
                    <td>{{ dados.colaborador }}</td>
                    <td>{{ dados.departamento }}</td>
                    <td>{{ dados.data|datetimeformat('%d/%m/%Y') }}</td>
                    <td>{{ dados.tipo_ausencia }}</td>
                    <td style="color: red;">{{ dados.periodo_ausencia }}</td>
                    <td style="padding-top: 0px;"><a href='{{url_for("edit_ausencia",id_usuario=dados.id)}}' class="btn btn-primary"  style="width: 100px; " >Editar</a></td>
                    <td style="padding-top: 0px;"><a href='{{url_for("ausencia_form",id=dados.id)}}' class="btn btn-light"  style="width: 100px;">Imprimir</a></td>
                    <td style="padding-top: 0px;"><a href='{{url_for("delete_ausencia",id=dados.id)}}' class="btn btn-danger"  style="width: 100px; " onclick='return confirm("Voce tem certeza, que deseja excluir  {{ dados.colaborador }}?")'>Deletar</a></td>
                    {% endfor %}
                    
                </tr>
            
           
    </table>
</div> 
</div>

</body>
{% endblock %}
