{% extends "home.html" %}

{% block body %}
    <div class='perfil'>
        <div style="margin: 20px;">
        <h1>Base de Conhecimento Protheus</h1></div>
        <div style="display: inline-flex; width: -webkit-fill-available; margin-left: 300px; margin-top: 148px;">
        <div class="inventario">
        <a href="{{ url_for('manufatura') }}">
            <img src="../static/img/manuais.png" class="user" style=" z-index: 1; left: 23%;top: 298px;">
        <h2 class="user" style="top: 608px; left: 25%; font-size: 36px; color: #103a78;">Manufatura</h2></a>
        </div>
        <div class="inventario">
        <a href="{{ url_for('rh') }}">
            <img src="../static/img/rh.png" class="user" style=" z-index: 1; left: 48%;top: 298px;">
        <h2 class="user" style="top: 608px; left: 46%; font-size: 36px; color: #103a78;">Recursos Humanos</h2></a>
        </div>
        <div class="inventario">
        <a href="{{ url_for('financ_fiscal') }}">
            <img src="../static/img/backoffice.png" class="computer" style=" z-index: 1;top: 298px; left: 71%;">
        <h2 class="computer" style="left: 73%; top: 608px;  font-size: 36px; color: #103a78;">BackOffice</h2></a>
        </div>


    </div>
    </div>
<style>
.inventario{
    margin: 50px;
    margin-bottom: 0px;
    margin-top: 0px;

}
h2{
    text-align: center;
}
</style>
{% endblock %}