{% extends "home.html" %}

{% block body %}
    <div class="perfil">
        <div style="margin: 20px;">
        <h1>Computadores - Cadastrados</h1>
        <div class="grupo">
            <a href="{{ url_for('inventario') }}" class="btn btn-link" style="display: inline-flex; padding-top: 9px; width: 100%;">Inventario <ion-icon name="chevron-forward"></ion-icon></a><br>
            <span class="badge bg-primary" style="font-size: 18px; padding-top: 9px;  top: 110px;">Computadores: {% for colaborador in colaboradores %} {{ colaborador.quant }}  {% endfor %}</span> 
            <a href="{{ url_for('computador') }}" class="btn btn-success" >ADCIONAR</a> 

        </div>
        <script>
            // Obtém uma referência para o botão de impressão
            const imprimirBtn = document.getElementById('imprimirBtn');
            
            
            imprimirBtn.addEventListener('click', function() {
                const div = document.getElementById('status');
                window.print(div);
            });
            </script>
        <div class="status" style="height: 50px;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <input type="text" id="valor_busca" class="form-control" style="width: 600px; display: inline; margin-right: 5px;  "/>
        <input type="submit" value="Pesquisar" onclick="myFunction()" style="background-color: #008cff; border-color: #008cff; border-radius: 5px; font-size: 16px; color: white; padding: 5px;" />
        
        <script>
        function myFunction() {
            var valor_busca = document.getElementById("valor_busca").value;
        location.href = "search_computadores/"+valor_busca;
        }
        </script>
    </div>
</div>
    <table class="table table-striped" style=" margin: 20px; width: -webkit-fill-available;">
            <tr>
                <th scope="col">Nome de Usuario<a href="{{ url_for('computadores') }}" style="display: inline-flex; color: #000; padding: 0; width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Nome(TE)<a href="{{ url_for('te') }}" style="display: inline-flex; color: #000; padding: 0; width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Processador<a href="{{ url_for('processador') }}" style="display: inline-flex; color: #000; padding: 0; width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">memoria<a href="{{ url_for('memoria') }}" style="display: inline-flex; color: #000; padding: 0; width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Disco Rigido<a href="{{ url_for('disco1') }}" style="display: inline-flex; color: #000; padding: 0; width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Disco Rigido 2<a href="{{ url_for('disco2') }}" style="display: inline-flex; color: #000; padding: 0; width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Tipo<a href="{{ url_for('tipo') }}" style="display: inline-flex; color: #000; padding: 0;width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col">Monitor<a href="{{ url_for('monitor') }}" style="display: inline-flex; color: #000; padding: 0;width: 20px;"><ion-icon name="chevron-down-outline"></ion-icon></a></th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
            <tr>
                {% for computadores in computadores %}
                <td>{{computadores["usuario"]}}</td>
                <td>{{computadores["te"]}}</td>
                <td>{{computadores["processador"]}}</td>
                <td>{{computadores["memoria"]}}</td>
                <td>{{computadores["disco_rigido"]}}</td>
                <td>{{computadores["disco_rigido_2"]}}</td>
                <td>{{computadores["tipo"]}}</td>
                <td>{{computadores["monitores"]}}</td>
                <td><a style="width: 100px;" href='{{url_for("delete_computador",id=computadores.id)}}' class='btn btn-danger' onclick='return confirm("Voce tem certeza, que deseja excluir  {{ computadores.usuario }}?")'>Deletar</a></td>
                <td><a style="width: 100px;" href='{{url_for("edit_computador",id=computadores.id)}}' class='btn btn-primary'>Editar</a></td></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
{% endblock %}